/*

LAYOUT
|------------------------------------------------|
|  A (2 cols)  |    B     |        C (row-span) |
|-------------|----------|---------------------|
|     D       |  E (2 cols) |     (C cont.)     |
|------------------------------------------------|

*/

.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;

  &__card {
    // shared card styles
    border: 1px solid black;

    &--a {
      grid-column: 1 / span 2; // this starts at grid line 1 and spans 2 columns
    }
    &--b {
      grid-column: 3 / 4; // this starts at grid line 3
    }
    &--c {
      grid-column: 4 / 5;
      grid-row: 1 / span 2;
    }
    &--d {
      grid-column: 1 / 2;
      grid-row: 2;
    }
    &--e {
      grid-column: 2 / span 2;
      grid-row: 2;
    }
  }
}
