@import '../variables';
@import '../mixins';

// Testimonials

.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;

  &__card {
    // shared card styles
    border: 1px solid $black;
    position: relative;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: $space-400;
    gap: $space-200;

    /* Drop Shadow */
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
    border-radius: $space-100;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    &--a {
      grid-column: 1 / span 2; // this starts at grid line 1 and spans 2 columns
    }
    &--b {
      grid-column: 3 / 4; // this starts at grid line 3
    }
    &--c {
      grid-column: 4 / 5;
      grid-row: 1 / span 2;
    }
    &--d {
      grid-column: 1 / 2;
      grid-row: 2;
    }
    &--e {
      grid-column: 2 / span 2;
      grid-row: 2;
    }
  }
}

@media (max-width: 1024px) {
  .testimonials {
    grid-template-columns: repeat(2, 1fr);

    &__card {
      &--a {
        grid-column: 1 / -1;
      }
      &--b {
        grid-column: 1 / 2;
      }
      &--c {
        grid-column: 2 / 3;
        grid-row: 2;
      }
      &--d {
        grid-column: 1 / -1;
        grid-row: 3;
      }
      &--e {
        grid-column: 1 / -1;
        grid-row: 4;
      }
    }
  }
}

@media (max-width: 600px) {
  .testimonials {
    grid-template-columns: 1fr;

    &__card {
      &--a,
      &--b,
      &--c,
      &--d,
      &--e {
        grid-column: 1 / -1;
        grid-row: auto;
      }
    }
  }
}
