@import 'variables';

// Typography System

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: $black;
  font-size: $font-body-size;
  background: #f6f5f6;
}

// Headings
h1,
h2,
h3,
h4 {
  margin: 0;
}

// Paragraphs and utility text
p {
  font-size: $font-body-size;
  font-weight: 500;
  margin: 0;
}

// Small text
.small-text {
  font-size: 1.1rem;
  line-height: 1.4;
}

// Quote style (optional for testimonials)
.quote {
  font-style: italic;
  font-weight: 500;
}
