// COLORS
$purple-50: hsl(260, 100%, 95%);
$purple-300: hsl(264, 82%, 80%);
$purple-500: hsl(263, 55%, 52%);

$white: hsl(0, 0%, 100%);
$grey-100: hsl(214, 17%, 92%);
$grey-200: hsl(0, 0%, 81%);
$grey-400: hsl(224, 10%, 45%);
$grey-500: hsl(217, 19%, 35%);
$dark-blue: hsl(219, 29%, 14%);
$black: hsl(0, 0%, 7%);

// TYPOGRAPHY
$font-body-size: 13px;
$font-family-base: 'Barlow Semi Condensed', sans-serif;

// SPACING (optional, but helpful)
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 3rem;
