// COLORS
$purple-50: hsl(260, 100%, 95%);
$purple-300: hsl(264, 82%, 80%);
$purple-500: hsl(263, 55%, 52%);

$white: hsl(0, 0%, 100%);
$grey-100: hsl(214, 17%, 92%);
$grey-200: hsl(0, 0%, 81%);
$grey-400: hsl(224, 10%, 45%);
$grey-500: hsl(217, 19%, 35%);
$dark-blue: hsl(219, 29%, 14%);
$black: hsl(0, 0%, 7%);

// TYPOGRAPHY
$font-body-size: 1.3rem;
$font-family-base: 'Barlow Semi Condensed', sans-serif;

$font-weight-medium: 500;
$font-weight-semibold: 600;

// DESIGN SYSTEM SPACING SCALE (Based on 1rem = 10px)
$space-50: 0.4rem; // 4px
$space-100: 0.8rem; // 8px
$space-200: 1.6rem; // 16px
$space-300: 2.4rem; // 24px
$space-400: 3.2rem; // 32px
$space-500: 4rem; // 40px
